# include some things
include LICENSE README.md VERSION
include setup.py MANIFEST.in
graft src

# do not include the scripts because they show only
# an example of how to generate the needed input
# for this package
prune scripts

# do not include the tests as they are rather informal
prune test

# do not include the .git directories or .gitignore files
prune .git
global-exclude .gitignore

# remove "compiled" python files
prune **/__pycache__
global-exclude *.py[cod]

